*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none
}

@import "utilities/variables";
@import "layout/_header";
@import "layout/_footer.scss";
@import "layout/_mainFondos";
