$FuentePrincipal:'Open Sans', sans-serif, 'Red Hat Mono', monospace, 'Ubuntu', sans-serif;
$ColorPrincipal:rgba(229, 32, 42, 0.781);
$ColorFooter:rgba(229, 32, 42, 0.9);
$ColorHeaderRedes:rgba(162, 72, 37, 0.9);
    